# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized

In [2]:
List=['python','R','Scala',]
print(List)

['python', 'R', 'Scala']

In [3]:
list=['numpy','pandas','sci-kit']
print(list)

['numpy', 'pandas', 'sci-kit']

Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60.
min=200
hr=min/60
print(hr)

3.3333333333333335

In [ ]:
list=('numpy')

Author

RAMESH