# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
List=['python','R','Scala',]

In [ ]:
list=['numpy','pandas','sci-kit']

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
min=200
hr=min/60
print(hr)

3.3333333333333335

In [3]:
list=('numpy')

Author:RAMESH